/* .side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.side-nav-button:hover{
    background-color: rgb(180, 176, 176);
    border-radius: 30%;
}

.navbar{
    background-color: #eee;
}

.fa-bars{
    background-color: blue;
    padding: 7px 10px;
    border-radius: 5px;
} */