/* .offcanvas-start{
    position: relative;
}

.table{
    margin-left: 350px;
    width: 70%;
}

.btn-success{
    margin-left: 1092px;
    background-color: blue;
}

.btn-info{
    background-color: blue  ;
    color: #fff;
} */