<div class="side-nav-content">
    <ul class="nav-list">
        <li class="nav-list-item">
            <span>
                <a href="">Orders</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <a href="">Product item</a>
            </span>
        </li>
        <li class="nav-list-item">
            <span>
                <a routerLink='one'>Persons</a>
            </span>
            <router-outlet></router-outlet>
        </li>
    </ul>
</div> 
<!-- 
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-dark col-auto col-md-2 min-vh-100">
            <div class="bg-dark p-2">
                <a href="" class="d-flex text-decoration-none mt-1 align-iteams-center text-white">
                    <span class="fs-4 d-none d-sm-inline">SideMenu</span>
                    <ul class="nav nav-pills flex-column mt-4">
                        <li class="nav-item">
                            <a href="" class="nav-link text-white" aria-current="page">Active</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Link</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">display</a>
                        </li>
                    </ul>
                </a>
            </div>

        </div>
    </div>
</div>