.nav-list{
    list-style: none;
    height: 100%;
    padding: 0%;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0%;
}

.nav-list-item{
    display: flex;
    align-items: center;
    height: 50px;
}

.nav-list-item:hover{
    background-color:  rgb(180, 176, 176);
    border-radius: 10px;
}

.nav-list-item span{
    width: 170px;
}


a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 400;
}